h1{
    text-align: center;
    border: solid royalblue 20px;
    color:gold;
    padding-right: royalblue  50px;
    background: royalblue

}

ul{
    color: white;
}
h2{
    color: white;
}
div p{
    color:rgb(255, 255, 255);
}
body{
    background: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pokemon_names {
    color:white;
}
#bulbasaur_container {
    border: solid white 5px;
    border-radius: 3px;
    background: lightgreen;
    margin: 5px;
}
#pokemon_container p{
    font: size 10px;;
}

#charmander_container{
    border: solid firebrick 25px;
   border-radius: 3px;
    background: rgb(230, 47, 15);
    border: solid white 5px;
}

#squirtle_container{
    border:groove white 5px;
    border-radius: 3px;
    background: rgb(56, 127, 209);
}
.pokemon_images{
    width: 150px;
    margin-left: 500px;
}
footer{
    color: white;
}